body {
  padding: 0%;
  margin: 0%;
  background-color: #121317;
}
button {
  background-color: #18f98f;
  border: none;
  position: absolute;
  transform: translate(-50%, -50%) ;
  top: 50%;
  left: 50%;
  padding: 20px 50px;
  font-size: 30px;
  font-weight: bold;
}
body{
  background-color: aquamarine;
  background-image: url(https://images.unsplash.com/photo-1596367407372-96cb88503db6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  height: 100%;
  background-position: center;
  background-size: cover;
}
.menu {
  font-family:tahoma;
  font-weight:bold;
  height:70px;
  width:100%;
  background:black;
  border-radius:5px;
  font-size:18px;
}
button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}  

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.hero > img {
width: 100%;
}
/* smartphone*/
/* default (dari 0px sampai min-width selanjutnya */
.hero > img {
 width: 80%
}

/* tablet*/
/* jika memasuki 768px*/
@media (min-width:768px){
.hero > img {
  width: 80%;
}
}


/* pc */
/* jika memasuki 992px */
@media (min-width: 992px){
.hero > img {
  width: 60%;      
}
}

.image-hero {
width: 250px;
height: 250px;
object-fit: cover;
}

.title{
font-family: 'Raleway', sans-serif;
}
.subtitle{
letter-spacing: 10px;
}

.text-about {
text-indent: 50px;
text-align: justify;
}